torch
torchmetrics
torchvision
numpy
scipy
pillow
opencv-python
matplotlib
h5py
tqdm
scikit-learn
pyyaml
easydict
gdown
requests
lightning
einops
peft
transformers
accelerate
timm
pycocotools
tensorboard